.wrapper {
  .clearfix();
  position: relative;
  margin-bottom: 20px;
}

.wrapper.no-nav {
  background-image: none;
}

[role=main], .main {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  background: @layoutBackgroundColor;
}

[role=main] {
  min-height: 350px;
}

.main:after,
[role=main]:after {
  bottom: 0;
  border-top-width: 1px;
}

[role=main] .primary {
  float: right;
  width: 80%;
}

[role=main] .secondary {
  margin-left: 0;
  width: 20%;
  float: left;
}

.primary > :last-child,
.secondary > :last-child {
  margin-bottom: 0;
}

.primary {
  .primary {
    float: left;
    width: 467px;
    margin-left: 0;
    margin-bottom: 20px;
    h1, h2, h3, h4 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .tertiary {
    float: left;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.hero {
  background: url("@{imagePath}/background-tile.png");
}

.hero:after {
  // Need to manually declare this here. If you pass rgba() through to
  // #gradient it breaks the filter property in IE7.
  .rgba-vertial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-color: @moduleHeadingBackgroundColor;
  border-bottom: 1px solid darken(@moduleHeadingBorderColor, 5%);
  .border-radius(3px 3px 0 0);
  .box-shadow(inset 0 -4px 0 rgba(0, 0, 0, 0.03));
  .back:hover {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
}

.context-info {
  .module-content {
    padding: 15px;
  }
  .image {
    margin-bottom: 10px;
    img,
    a {
      display: block;
      .border-radius(4px);
    }
  }
  p {
    overflow: auto;
  }
  code {
    display: block;
    font-weight: normal;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
  h1.heading {
    margin: 0 0 5px 0;
    font-size: 18px;
    line-height: 1.3;
  }
  .info {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px dotted #DDD;
    word-break: break-word;
    dl dd {
      margin-top: 3px;
      margin-left: 0;
    }
  }
  .nums {
    .clearfix;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 0;
    border-top: 1px dotted #DDD;
    dl {
      float: left;
      width: 50%;
      margin: 5px 0 0 0;
      color: @layoutTextColor;
      dt {
        display: block;
        font-size: 13px;
        font-weight: 300;
      }
      dd {
        display: block;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-left: 0;
        .smallest {
          font-size: 13px;
        }
        .smaller {
          font-size: 16px;
        }
        .small {
          font-size: 21px;
        }
      }
    }
  }
  .follow_button {
    margin-top: 15px;
  }
  &.editing {
    .module-heading {

    }
    .module-content {
      margin-top: 0;
    }
  }
}

.flash-messages {
  .alert {
    .box-shadow(0 0 0 1px white);
  }
}

