//Old needed variables
@black: #000;
@white: #fff;

// Font color
@font-color: #535b60;

// Headings color
@heading-color: #53555c;

// Typography
// -------------------------
@sansFontFamily: 'Open Sans', sans-serif;

// Base variables
@imagePath: "/img";
@spritePath: "@{imagePath}/sprite-ckan-icons.png";
@bgPath: "@{imagePath}/bg.png";
@FontAwesomePath: "../../../base/vendor/font-awesome/font";

// Layout Variables
@layoutFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@layoutTextColor: #444;
@layoutBoldColor: #000;
@layoutLinkColor: #187794;
@layoutBackgroundColor: transparent;
@layoutTrimBackgroundColor: #fff;
@layoutTrimBorderColor: #ccc;

@navLinkColor: #333;
@navActiveBackgroundColor: #f6f6f6;

// Module Variables
@moduleBackgroundColor: #fff;
@moduleHeadingBorderColor: #ddd;
@moduleHeadingBackgroundColor: #f6f6f6;
@moduleHeadingActionTextColor: #888;
@moduleExpandedBackgroundColor: rgba(255, 255, 255, 0.9);

@tabTextColor: #111;
@tagBackgroundColor: #f6f6f6;

@gutterX: 25px;
@gutterY: 20px;
@gutterSmallX: 15px;
@gutterSmallY: @gutterY;

@emptyTextColor: #aaa;
@genericBorderColor: #ddd;

@breadcrumbTextColor: #505050;

@mastheadTextColor: #fff;
@mastheadLinkColor: @mastheadTextColor;
@mastheadBackgroundColor: #005d7a;
@mastheadBackgroundColorStart: #005d7a;
@mastheadBackgroundColorEnd: #00536b;

@navItemActiveTextColor: #FFF;
@navItemActiveBackgroundColor: #8CA0A6;

@pillTextColor: @navItemActiveTextColor;
@pillBackgroundColor: darken(@navItemActiveBackgroundColor, 10%);

@bannerTextColor: @mastheadTextColor;
@bannerBackgroundColor: @mastheadBackgroundColor;


@footerTextColor: #CCDEE3;
@footerLinkColor: @footerTextColor;

@inputColor: @black;
@inputBackground: @white;
@inputBorder: #ccc;
@inputBorderRadius: 3px;
@disabledCustomInputTextColor: #aaa;
@disabledCustomInputBackground: #f3f3f3;

@highlightBackground: #fdf7e9;
@highlightHoverBackground: #fdf3d9;

// Forms

@errorText: #b55457;
@errorBackground: lighten(#c6898b, 30%);
@errorBorder: #c6898b;

@formInfoText: #707070;

@stagesTextColor: #aeaeae;
@stagesBackground: #EDEDED;
@stagesTransparentBackground: rgba(237, 237, 237, 0); // Used for arrows.
@stagesActiveTextColor: #fff;
@stagesActiveBackground: #8cc68a;
@stagesActiveTransparentBackground: rgba(140, 198, 138, 0);
@stagesCompleteTextColor: #eef6ed;
@stagesCompleteBackground: #c5e2c4;
@stagesCompleteTransparentBackground: rgba(197, 226, 196, 0);
@stagesCounterTextColor: #fff;
@stagesCounterBackground: #aeaeae;
@stagesCounterActiveTextColor: #8cc68a;
@stagesCounterActiveBackground: #fff;
@stagesCounterCompleteTextColor: #c5e2c4;
@stagesCounterCompleteBackground: #eef6ed;

@codeTextColor: #000;


// Datasets

@listingHeadingTextColor: #333;
@resourceFormatBackground: #aaa;

// Table

@chunkyTableHeaderTextColor: #fff;
@chunkyTableHeaderBackgroundColor: #aaa;
@chunkyTableStripeBackgroundColor: #fff;

// Twitter Bootstrap Overrides
@bodyBackground: @layoutBackgroundColor;
@btnBackground: #ffffff;
@btnBackgroundHighlight: #eaeaea;
@btnPrimaryBackground: #30778d;
@btnPrimaryBackgroundHighlight: #085871;
@baseFontFamily: @layoutFontFamily;
@textColor: @layoutTextColor;
@linkColor: @layoutLinkColor;

// Activity Stream base colors
@activityColorText: #FFFFFF;
@activityColorBlank: #999999;
@activityColorNew: #69A67A;
@activityColorNeutral: #767DCE;
@activityColorModify: #767DCE;
@activityColorDelete: #B95252;
