/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/webfont.eot');
  src: url('@{fa-font-path}/webfont.eot?#iefix') format('embedded-opentype'),
    url('@{fa-font-path}/webfont.woff2') format('woff2'),
    url('@{fa-font-path}/webfont.woff') format('woff'),
    url('@{fa-font-path}/webfont.ttf') format('truetype'),
    url('@{fa-font-path}/webfont.svg#fontawesomeregular') format('svg');
//  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
