@import (css) url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,800);
/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/

.section{
	padding: 30px 0;
	.translateZ(0);
}

.section-white{
	background: #FFF;
}

.section .container:first-child h1, .section .container:first-child h2, .section .container:first-child h3{
	margin-top: 0;
	font-weight: 700;
}

.input-micro{
	width: 50px;
	margin-bottom: 0 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: fade(@theme-color, 80%);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	@glow-color: fade(@theme-color, 60%);
	.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{glow-color}");
}

ul.no-list-style{
	list-style-type: none;
	margin-left: 0;
}

ul.no-list-style li{
	line-height: 28px;
}

div[class*="span"]{
	.transition(~"all .4s linear");
}

/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/

body{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	line-height: 20px;
	color: @font-color;
}

h1{ 
	color: @heading-color;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 800; 
}

h2{ 
	color: @heading-color;
	font-family: 'Open Sans', sans-serif; 
	font-size: 2em;
	border-bottom: 2px solid @heading-color;
	line-height: 1.5em;
	margin: 30px 0;
	padding-left: 10px;
}

h3{ 
	font-family: 'Open Sans', sans-serif; 
	color: @heading-color;
	font-size: 1.5em;
}

h4{ 
	font-family: 'Open Sans', sans-serif; 
	color: @heading-color;
	margin-bottom: 10px;
}

a{
	color: @theme-color;
}

a:hover{
	color: darken(@theme-color, 20%);
}